.body {
    width: 100%;
    margin: 0 0;
    padding: 0, 0;
}

.container-fluid {
    width: 100%;
    background: white;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.jumbotron {
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: none;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    padding: 0;
}

.navbar-brand > img {
    height: 100%;
    width: auto;
    padding-top: 8%;
    padding-bottom: 8%;
}

.navbar-right {
    justify-content: space-between;
}

.navbar-right > li {
    text-decoration: none;
    text-decoration-style: double;
}

.navbar-right > li > a {
    font-family: 'Roboto';
    text-align: center;
    font-size: 11pt;
    color: rgba(0, 0, 0, 255);
    text-decoration: none;
    text-decoration-style: double;
    font-weight: bolder;
}

.navbar .navbar-nav {
    height: 100%;
}

.navbar-right > li > a:hover {
    color: rgba(39, 86, 163, 255);
    text-decoration: none;
    background: none;
}

.navbar-right > li > a:active {
    color: rgba(39, 86, 163, 255);
    text-decoration: none;
    background: none;
}

.navbar-collapse.in {
    background: RGBA(0, 0, 0, 0.85);
    height: 100%;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #cccccc;
    border-radius: 1px;
}

.languages {
    padding-top: 20%;
    padding-right: 20px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.languages > a {
    text-decoration: none;
    opacity: 0.1;
    text-align: center;
}

.languages .active {
    opacity: 1;
}

@media (min-width: 768px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
        height: 100%;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        height: 100%;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .languages {
        padding-top: 0;
        padding-right: 0;
    }
}


/* CONTENT*/

.greay-line {
    border-style: solid;
    border-width: medium;
    border-bottom-color: #f5f5f5;
    margin-left: 2%;
}

.blue-line {
    margin-left: 2%;
}

.segmenet {
    min-height: 734px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 5%;
}

.offer-content > .row {
    margin: 5% 8% 5% 8%;
}

h2 {
    font-family: 'Encode Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-bottom: 0;
    margin-left: 5%;
}

.offer h2 {
    color: rgba(39, 86, 163, 255);
    padding-top: 3%;
}

.offer {
    background-image: url(../images/offer_background.png);
    /*    background-position: center bottom;*/
}

.offer-content-segment {
    padding: 3px;
    text-align: center;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

.offer-content-segment .title {
    position: absolute;
    bottom: 0;
    width: 98.5%;
    text-align: center;
    background-color: rgba(70, 70, 71, 0.8);
    color: white;
    font-size: 16pt;
    margin: 0;
    padding: 0;
}

.offer-content-segment-1 {
    background-color: #dcdcdd;
    background-position: center;
    background-size: 100% 100%;
    min-height: 240px;
    margin: 0;
    padding: 0;
}

.about-company {
    background-image: url(../images/about_company_background.png);
    padding-top: 10%;
    /*     background-position: center top;*/
}

.about-company-segment {
    padding-left: 7%;
    font-family: Roboto;
    font-size: 12pt;
    color: rgba(246, 246, 246, 255);
    text-align: left;
    font-family: Roboto;
}

.title {
    font-family: 'Encode Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 34pt;
    text-align: left;
}

.about-company-segment .title {
    color: #2756a3;
}

.contact {
    background-image: url(../images/contact_background.png);
    /*     background-position: center top;*/
}

.contact-segment {
    padding-left: 7%;
    font-family: Roboto;
    font-size: 12pt;
    color: rgba(246, 246, 246, 255);
    text-align: left;
    font-family: Roboto;
}

.contact-segment .title {
    color: #222222;
}

.info-content {
    padding: 10%;
    font-size: 10pt;
}

.info-content > a {
    color: white;
}

.info-content-title {
    padding-bottom: 1%;
    font-size: 12pt;
}

.info-content-title > b {
    font-size: 13pt;
}

.menu-content {
    margin: 20px;
}

.foot {
    background: #222222;
    padding-left: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #ffffff;
}

.foot-segment > .row {
    margin: 5% 8% 5% 8%;
}

.social-media {
    display: grid;
}

.social-media > a {
    color: #ffffff;
    margin: 10px;
}

@media screen and (min-width: 760px) and (max-width: 1080px) {
    .menu-content {
        margin: 1px;
    }
    .offer h2 {
        margin-top: 50px;
    }
    .navbar-right > li > a {
        font-size: 9pt;
    }
}

@media screen and (max-width: 760px) {
    .menu-content {
        margin: 1px;
    }
    .offer h2 {
        margin-top: 50px;
    }
    .navbar-right > li > a {
        font-size: 9pt;
    }
}


/*
.line-separator {
    height: 1px;
    background: #717171;
    border-bottom: 1px solid #313030;
}*/


/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #ffffff;
    color: #ffffff;
}

.btn-primary.outline:hover,
.btn-primary.outline:focus,
.btn-primary.outline:active,
.btn-primary.outline.active,
.open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-primary.outline:active,
.btn-primary.outline.active {
    border-color: rgba(246, 246, 246, 255);
    color: rgba(246, 246, 246, 255);
    box-shadow: none;
}


/***********************
  CUSTOM BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    font-size: 11pt;
    border-radius: 0;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

.form-control {
    border-radius: 0;
}

textarea {
    resize: none;
}

.map {
    margin-left: 3%;
    margin-right: 3%;
    color: #000000;
}